<div>
    <mat-toolbar class="header-bg">
        <div class="headerlist-main" fxLayout="row" fxFlex fxLayoutAlign="start center">
            <div class="headerlist">
                 <a href="JavaScript:Void(0);" fxLayoutAlign="start center">
                    <img src="../../assets/images/logo.png" class="mr-10">
                    <span>Tejasri Lakkam</span>
                </a> 
             </div>
             <div class="w100" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white">menu</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> 
                        <mat-icon class="color-white"> push_pin</mat-icon>
                    
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> keyboard_arrow_down</mat-icon>
                    
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> favorite</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> search</mat-icon>
                      </button>
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> flag</mat-icon>
                      </button>
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> fullscreen</mat-icon>
                      </button>
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> apps</mat-icon>
                      </button>
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> notifications</mat-icon>
                      </button>
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="color-white"> account_circle</mat-icon>
                      </button>
                </div>
             </div>
         </div>
    </mat-toolbar>
</div>
<!-- <app-sidenavigation></app-sidenavigation> -->
