.header-bg{
    background:#283593;
    .headerlist {
        min-width: 244px;
        a {
            color: #ffff;
            min-width: 240px;
            img{
                width: 30px;}
            }
        }

}

