.login-header-main{background-image: linear-gradient(to bottom right, #80d5b2, #7a73e3);background-position: center; background-attachment: fixed;
.login-header-title:after{border-bottom: 2px solid orange;width:30px;}
.login-fields-main{padding-left:40px}
.usernamefield{border-radius: 10px !important;margin: 10px 0;padding: 5px;width: 220px;}
.login-btn{background-image: linear-gradient(to bottom right, #7a73e3 ,#80d5b2);width: 85px;color: #fff;}
.login-mat-card{ box-shadow: inset 0px 0px 10px #80d5b2;-webkit-box-shadow:inset 0px 0px 10px #80d5b2;-moz-box-shadow:inset 0px 0px 10px #7a73e3}
.forgot-color{
        color:#1a73e8;
}
}